<script setup lang="ts">
import { reactive, ref } from 'vue'

const dynamicId = ref('MyId')
const titleClass = ref('royalblue')
const myClasses = reactive({
    royalblue: true,
    bold: true,
    underline: true
})
const mystyle = reactive({
    fontSize: '30pt',
    border: '2pt',
    borderStyle: 'solid'
})
myClasses.royalblue = false
</script>

<template>
    <div :id="dynamicId" :class="myClasses" :style="mystyle">
    {{ dynamicId }}
    </div>
</template>

<style scoped>
.royalblue{
    color: royalblue;
}

.bold{
    font-weight: bold;
}

.underline{
    text-decoration: underline;
}
</style>