<script setup lang="ts">
import { computed, ref } from 'vue';
interface Todo{
    id: number
    text: string
    done: boolean
}
let id = 0
const newtodo = ref('')
const num1 = ref(0)
const num2 = ref(0)
const hidecompleted = ref(false)
// const result = ref(0)
const todos = ref<Todo[]>([
    {id: id++, text: 'Learn HTML', done: true},
    {id: id++, text: 'Learn Javascript', done: true},
    {id: id++, text: 'Learn Vue', done: false}
])
const filteredTodos = computed(() => {
    if(hidecompleted.value){
        return todos.value.filter((t) => !t.done)
    }else{
        return todos.value
    }
    
})
function addTodo(){
    // e.preventDefault()
    todos.value.push({id: id++, text: newtodo.value, done: false})
    newtodo.value = ''
}
function removeTodo(todo: {id: number; text: string, done: boolean}){
     todos.value = todos.value.filter((t) => t !== todo)
    // todos.value = todos.value.filter(function(t) {
    //     return t.id !== id
    // })
    // const index = todos.value.findIndex((t)=> t.id === id)
    // todos.value.splice(index,1)
    // const index1 = todos.value.indexOf(todo)
    // todos.value.splice(index1,1)
}

// function calcualte(){
//     result.value = num1.value + num2.value
// }

const result = computed(() => num1.value + num2.value) 
</script>

<template>
    <div>
    <input type="text" v-model.number="num1"> + <input type="text" v-model.number="num2" /> = {{ result }}
    <!-- <button @click="calcualte"> Calcualte</button> -->
    </div>
    <div>{{ todos }}</div>
    <div>{{ newtodo }}</div>
    <form @submit.prevent="addTodo">
        <input type="text" v-model="newtodo">
        <button >add todo</button>
    </form>
    
    <ul>
        <li v-for="todo in filteredTodos" :key="todo.id" :class="{done: todo.done}">
        <input type="checkbox" v-model="todo.done">{{ todo.text }}<button @click="removeTodo(todo)">X</button></li>
        
    </ul>
    <button @click="hidecompleted =! hidecompleted">{{ hidecompleted?"Hide Complete" : "Show All" }}</button>
</template>

<style scoped>
.done{
    text-decoration: line-through;
}
</style>