<script setup lang="ts">
import { reactive, ref, watch } from 'vue';

const count1 = ref(0) 
const myClasses = reactive({
    cadetblue: true,
    bold: true,
    underline: true
})
function increment(){
    count1.value++
}
watch(count1, function(newCount, oldCount){
    console.log(`count changed ${oldCount} --> ${newCount}`)
})
</script>

<template>
    <button @click="increment()" :class="myClasses">count is: {{ count1 }}</button><br />
    <pre>{{ myClasses }} </pre>
    <br />
    <button @click="myClasses.cadetblue = !myClasses.cadetblue">cadetblue</button> 
    <button @click="myClasses.bold = !myClasses.bold">bold</button>
    <button @click="myClasses.underline =!myClasses.underline">underline</button>
</template>

<style scoped>
.blanchedalmond{
    color: cadetblue;
}

.bold{
    font-weight: bold;
}

.underline{
    text-decoration: underline;
}
</style>